.map-widget {
    text-align: left;
    background-color: #151515;
    padding: 50px 0; /* Adjusted for better padding */
}

.world-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Aligns elements vertically */
    background-color: rgba(39, 39, 39, 0.3);
}

.map-text-container {
    text-align: center;
    display: inline-flex; /* Aligns the "Find yours" text horizontally */
    gap: 10px; /* Space between "Find" and "yours" */
    margin-bottom: 20px; /* Adds space between text and the world map */
}

.txt-find {
    font-family: 'Euclid Galactic', sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 110px;
    letter-spacing: 1px;
    text-align: center;
}

.txt-yours {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 110px; /* Make the line-height match with "Find" */
    position: relative;
}

.world-map {
    
    height: auto;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .txt-find {
        font-size: 60px;
    }

    .txt-yours {
        font-size: 40px;
        top: 5px; /* Adjust for smaller screens */
    }

    .world-map-container {
        height: 40rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .world-map {
        
        height: 40rem;
    }

    map-text-container{
        display: flex;
        position: absolute;
        top: 0;
    }
}
