/* WherePanel.module.css */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(32, 215, 149, 1) transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(32, 215, 149, 1);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
