.search-tag-btn {
    background-color: transparent;
    color: white;
    border: 2px solid transparent;
    border-radius: 50px; /* Fully rounded */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    width: 215px;
    position: relative;
    overflow: hidden;
    padding: 22px 17px;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
    z-index: 1; /* Ensure button text is above the pseudo-element */
}

.search-tag-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
    transition: transform 0.3s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1; /* Ensure the pseudo-element is below the button text */
}

.search-tag-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.search-tag-btn:hover {
    color: black;
    border-color: white;
    background-color: white;
}


.search-tag-btn.active {
    background-color: white;
    color: black; /* adjust text color if needed */
}
