.dropdown-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(31, 31, 31, 1); /* or add it to the track */
}

/* Add a thumb */
.dropdown-container::-webkit-scrollbar-thumb {
  background: rgba(32, 215, 149, 1);
  border-radius: 100px;
  width: 8px;
}